.button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #256a50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .g_form{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width:max-content;
    font: 1.2em sans-serif;
    color: #ffffff;
    padding: 10px;    
  }

  .g_form fieldset{
    border-radius: 10px;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  margin: 0px 0px 10px 0px;
	  border: 1px solid #599269;
	  padding: 20px;
	  background: #7f958d;
 }

  .g_form fieldset legend{
    color: #ffffff;
	  border-top: 1px solid #ffffff;
	  border-left: 1px solid #ffffff;
	  border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
	  border-radius: 5px 5px 5px 5px;
	  -webkit-border-radius: 5px 5px 5px 5px;
	  -moz-border-radius: 5px 5px 5px 5px;
	  background:#7f958d;
  }

  .g_param{
    width: 40px;
    margin: 10px;
    -webkit-border-radius: 7px 7px 7px 7px;
	  -moz-border-radius: 7px 7px 7px 7px; 
    -moz-appearance: textfield;
  }
  .g_param::-webkit-inner-spin-button{
    display: none;
  }

  .g_form [class="g_create"]{
    background-color: #e1e1e1;
    -webkit-border-radius: 5px 5px 5px 5px;
	  -moz-border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .g_form [class="standart"]{
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    width: max-content;
    -webkit-border-radius: 5px 5px 5px 5px;
	  -moz-border-radius: 5px 5px 5px 5px;  
  }

.block{
  border: solid black 1px;
}